:root {
    --cor-cabecalho-rodape: #000000;
    --fontes-escuras: #000000;
    --cor-fontes: #ffffff;
    --fontes-contraste: #a2e700;
    --fundo-contraste: #f7f7f7;
    --fundo-contraste-escuro: #eeeeee;
    --padding: 20px;
    --largura-card: 250px;
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: var(--cor-cabecalho-rodape);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--fontes-contraste);
    border-radius: 5px;
    border: 2px solid var(--cor-cabecalho-rodape);
}
/*fim scrollbar*/

body {
    background-color: var(--fundo-contraste);
}

/*cabeçalho*/
header {
    background-color: var(--cor-cabecalho-rodape);
    color: var(--cor-fontes);
    display: flex;
    flex-direction: row;
    height: 4em;
    top: 0;
    position: sticky;
}

header figure {
    width: 8%;
    margin: .5em;
}

header img {
    width: 3em;
    margin-left: 2em;
}

.titulo {
    font-size: 20pt;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alinhar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    width: 40%;
}

.opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5em;
}

.opcoes p {
    margin: 0;
    padding: .5em
}

.opcoes a {
    padding: .5em;
    color: #ffffff;
    text-decoration: none;
}

.opcoes a:hover {
    background-color: rgb(58, 58, 58);
    color: var(--fontes-contraste);
    border-bottom: 1px solid var(--fontes-contraste);
}

.opcoes p:hover {
    background-color: aliceblue;
    color: #000000;
}
/*fim cabeçalho*/

/*conteúdo*/
.classe {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

.subclasses {
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: 250px;
    opacity: .8;
    filter: grayscale(.3);
    color: #000000;
    height: 350px;
    width: var(--largura-card);
    margin: 15px;
}

.card:hover {
    filter: contrast(1.75);
    filter: grayscale(0);
    opacity: 1;
}

.card:hover .content-card h3{
    color: #000000;
}

.card:hover .triangle {
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
}

.card:nth-child(1) {
    background-image: url("../img/img-computador.jpg"); 
}

.card:nth-child(2) {
    background-image: url("../img/img-celular.jpg");
}

.card:nth-child(3) {
    background-image: url("../img/img-programacao.jpg");
}

.content-card h3{
    color: #bbbbbb;
    bottom: 2px;
    position: absolute;
    display: flex;
    width: var(--largura-card);
    justify-content: center;
    font-size: 30px;
    z-index: 1;
}

.triangle {
    position: absolute;
    width: var(--largura-card);
    right: -20px;
    bottom: -30px;
    border-left: var(--largura-card) solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 100px solid var(--fontes-contraste);
    background-color: transparent;
    opacity: 0;
}

.inverted {
    left: -30px;
    border-left: 0px solid transparent;
    border-right: var(--largura-card) solid transparent;
    border-bottom: 100px solid #89c400;
}
/*fim conteudo*/

/*aticle*/

.conteudos-paginas {
    display: flex;
    min-height: 80vh;
}

.sumario {
    margin: 30px;
}

.sumario h3 {
    margin-bottom: 20px;
}

.sumario li {
    margin: 10px;
}

.conteudo-article {
    padding: 20px 100px 10px 150px;
    border-right: .5px groove #d3d3d3;
    width: 75vw;
}

.conteudo-article h2 {
    margin-bottom: 20px;
}

.conteudo-article p {
    text-align: justify;
    text-indent: 3em;
    line-height: 25px;
}

.nav-conteudo {
    width: 25vw;
    background-color: var(--fundo-contraste-escuro);
}

.nav-conteudo b {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.nav-conteudo a {
    margin: 3px;
    padding: 5px;
    text-decoration: none;
    color: var(--fontes-escuras);
}

.nav-conteudo a:hover {
    color: #535353;
    border-bottom: 1px solid var(--fontes-contraste);
}

.resolucoes li {
    margin: 20px 20px 20px 36px;
    font-size: 20px;
}

.conteudo-article figure {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.alerta {
    color: #ff0000;
    font-size: 20px;
    padding: 5px;
    border: 3px solid #ff0000;
}

.conteudo-article img {
    border: 2px solid var(--fontes-escuras);
    width: 500px;
}

.divisor, .conteudo-article h4 {
    margin: 30px 0 20px 0;
}

.data, .escrito-por {
    font-size: 12px;
    margin-bottom: 20px;
}
/*fim article*/

/*Rodapé*/

footer {
    background-color: var(--cor-cabecalho-rodape);
    color: var(--cor-fontes);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--padding);
}

.social {
    display: flex;
}

.social a {
    color: var(--cor-fontes);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.social figure {
    width: 40px;
}

.social img{
    padding: 10px;
    width: 40px;
}